html, body{
  height: 100%;
  font-size: 16px;
  background-color: #44344F;
}

.panel{
  border-width: 0 0 4px 0;
}

.total-sales-panel.panel .panel{
  border-width: 1px 1px 4px 1px;
}

.total-sales-panel .panel-heading h1,
.top-purchased-graph .panel-heading h1,
.sales-table-panel .panel-heading h3,
.overall-sales-panel .panel-heading h3,
.purchased-table-panel .panel-heading h3,
.category-table-panel .panel-heading h1,
.top-product-table-panel h3,
.top-product-graph-panel h1,
.product-table-panel h1{
  color: white;
  margin: 0;
}

.overall-sales-panel h1{
  font-size: 4rem;
  font-weight: bold;
}


.total-sales-panel .ct-label{
  font-size: 1rem;
  font-weight: bold;
  font-family: lato;
  color: gray;
}

.top-purchased-graph .ct-label
{
  font-size: .9rem;
  font-weight: bold;
  font-family: lato;
  color: seagreen;
}

.top-product-graph-panel .ct-label
{
  font-size: .7rem;
  font-weight: bold;
  font-family: lato;
  color: seagreen;
}

.sales-table-panel td,
.sales-table-panel th{
  font-size: 1rem;
  font-family: lato;
}

.overall-sales-panel td,
.overall-sales-panel th{
  text-align: center;
  font-size: 1.1rem;
  font-family: lato;
}

.sales-table-panel tr td,
.sales-table-panel tr th,
.purchased-table-panel tr th,
.purchased-table-panel tr td,
.top-product-table-panel tr td,
.top-product-table-panel tr th{
  text-align: right;
}


.top-purchased-graph .ct-bar,
.top-product-graph-panel .ct-bar{
  stroke-width: 40px
}
