html, body{
  height: 100%;
  font-size: 16px;

  background-color: #8cd2a3;
}

/* navbar */
.navbar.navbar-inverse{
  background-color: #564d80;
  border-color: #413a61;
}

.navbar.navbar-inverse .navbar-brand{
  color: white !important;
}

.navbar.navbar-inverse .nav li a{
  color: white !important;
}


.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus{
  background-color: #4c4472 !important;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand:focus{
  background-color: #4c4472 !important;
}

.navbar.navbar-inverse .nav .dropdown-menu li a{
  color: gray !important;
}

.nav .dropdown-menu li a:active,
.nav .dropdown-menu li a:focus,
.nav .dropdown-menu li a:hover{
  background-color: #ececec;
}

/* Sidebar Category */
.sidebar-nav{
  z-index: 1000;
}

.sidebar-nav .panel{
  border-width: 0 0px 6px 0px;
}

.sidebar-nav .panel-heading{
  background-color: #564d80;
}

.input-group-addon {
  background-color: #564d80;
  border: 0;
}

.input-group-addon .fa{
  color: white;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
  z-index: 2;
  color: #48b76c;
  background-color: #EEEEEE;
  border-color: #158cba;
  font-weight: bold;
  font-size: 1.1rem;
}

.category-label{
  /*margin-bottom: 1rem;*/
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
  margin: 0;
}

.category-container{
  /*Remove BS Padding*/
  padding: 0;
}

.category-list{
  margin-bottom: 0;
}

.category-list .list-group-item.active{
  border: 0;
  border-radius: 0;
}
/*[END] Sidebar Category*/

/* Content-Filter-Row */
.content-filter-action{
  margin-bottom: 15px;
}

.filter-actions{
  padding: 0 15px;
}

.filter-actions button,
.filter-actions .dropdown{
  font-family: lato;
}

.filter-actions button{
  background-color: #564d80;
  border-color: #413a61;
  color: white;
}

.filter-actions .btn-default:hover,
.filter-actions .btn-default:active,
.filter-actions .btn-default:focus{
  background-color: #564d80 !important;
  border-color: #413a61 !important;
  color: white !important;
}

.open>.dropdown-toggle.btn-default{
  background-color: #564d80 !important;
  border-color: #413a61 !important;
  color: white !important;
}

/* [END] Content-Filter-Row */

/* Content Items*/
.content-main .col-sm-10 .panel-body{
  height: 20rem;
}
/* [END] Content Items */

/* Search Bar */
.search .input-group-addon{
  border: 0;
}

.search .input-group-addon button{
  color: #1d1d1d;
  background-color: #F5F5F5;
  border-color: #BDBDBD;
}
/* [END] Search Bar */

/* Item Card */
.item-card .panel-body,
.item-card .panel-body .item-img{
  padding: 0;
}

.item-card .panel{
  border-width: 0px 0px 6px 0px;
}

.item-card .panel-body{
  position: relative;
}

.item-card .panel-heading{
  background-color: #564d80;
}

.item-card .panel-body{
  background-color: #fafafa;
}

.item-card hr{
  border-top: 1px solid #BDBDBD;
}

.item-img{
  height: 100%;
  background-color: #BCAAA4;

  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 5px dashed #FFFFFF;
}

.item-logo{
  color: white;
  font-size: 3rem;
}

.item-detail{
  height: 100%;
}

.item-price{
  font-weight: bold;
  color: #009688;
}

.item-forms{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
}

.item-btn-info{
  /*margin-top: 10px;*/
}

@media (min-width: 1200px) {
  .item-quantity{
    padding-right: 0;
  }

  .item-btn-cart{
    padding-left: 0;
  }
}
/* [END] Item Card */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
