html, body{
  height: 100%;
  font-size: 16px;

  background-color: #8cd2a3;
}

/* navbar */
.navbar.navbar-inverse{
  background-color: #564d80;
  border-color: #413a61;
}

.navbar-brand{
  color: white !important;
}

.nav li a{
  color: white !important;
}

.navbar-text{
  color: white !important;
}

.panel{
  border-width: 0 0 4px 0 !important;
}
