.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
  color: #333333;
  background-color: #f1f1f1;
}
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:hover{
  color: #4caf50;
  background-color: #f1f1f1;
}

.navbar-default .navbar-nav{
  font-family: lato;
}

.navbar-brand{
  font-family: lora;
  font-size: 3rem;
}

.fa.fa-heart{
  color: crimson;
}

.navbar-from{
  text-align: center;
}

.badge{
  background-color: #e91e63;
}
