html, body{
  height: 100%;
  font-size: 16px;
  background-color: #8cd2a3;
}

.register-navigation{
  display: flex;
  justify-content: space-between;
}

.register-navigation li .nav-icon{
  border-radius: 30%;
  /*width: 95px;
  height: 95px;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.register-navigation .nav-icon > .fa{
  display: block;
  text-align: center;
  font-size: 3rem;

  color: #303030;
}

.register-navigation>li.active>a,
.register-navigation>li.active>a:focus,
.register-navigation>li.active>a:hover{
  background-color: #eee;
}

.nav-icon p{
  color: #303030;
  font-family: lato;
  font-weight: bold;

  margin-top: 10px;
}

.help-block{
  font-size: .8rem;
}

#middle_initial{
  text-transform: uppercase;
}

.pager.wizard li>a,
.pager.wizard li>button{
  font-size: 1rem;
}

form input,
form select{
  font-size: 1rem !important;
  font-family: lato;
}

#card_type{
  text-transform: capitalize;
}

.register-navigation{
  margin: 20px 0;
}

.fullname .form-control-feedback,
.logincred .form-control-feedback,
.city-region-zip .form-control-feedback,
.cardnumtype .form-control-feedback{
  text-align: initial;
}

#middle_initial{
  padding-right: 12px;
}

.help-block{
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-group{
  margin-bottom: 28px;
}

.middleInitial .help-block{
  display: none !important;
}

form h3{
  font-family: lato;
  font-weight: bold;
  color: #666666;
}

.thead h2{
  font-family: 'merriweather';
  font-weight: bold;
  line-height: 2.5rem;
  color: white;
  margin: 2rem 0px;
}

.thead img{
  width: 85%;
}

.finish{
  float: right;
}

.panel{
  border-width: 0 0 4px 0;
}

/* navbar */
.navbar.navbar-inverse{
  background-color: #564d80;
  border-color: #413a61;
}

.navbar.navbar-inverse .navbar-brand{
  color: white !important;
}

.navbar.navbar-inverse .nav li a{
  color: white !important;
}

.navbar.navbar-inverse .navbar-text{
  color: white !important;
}
