html, body{
  height: 100%;
  font-size: 16px;
}

.register-navigation{
  display: flex;
  justify-content: space-between;
}

.register-navigation li .nav-icon{
  border-radius: 30%;
  /*width: 95px;
  height: 95px;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.register-navigation .nav-icon > .fa{
  display: block;
  text-align: center;
  font-size: 3rem;

  color: #303030;
}

.register-navigation>li.active>a,
.register-navigation>li.active>a:focus,
.register-navigation>li.active>a:hover{
  background-color: #eee;
}

.nav-icon p{
  color: #303030;
  font-family: lato;
  font-weight: bold;

  margin-top: 10px;
}

.help-block{
  font-size: .8rem;
}

#middle_initial{
  text-transform: uppercase;
}
