html, body{
  height: 100%;
  font-size: 16px;
  background-color: #8cd2a3;
}

form input,
form select{
  font-size: 1rem !important;
  font-family: lato;
}

.profile-picture{
  max-width: 300px;
  max-height: 300px;
  height: 300px;
  width: 300px;

  margin: 0 auto;
}

.profile-fullname{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

.profile-username{
  margin-top: 0;
}

.profile-information-container{
  margin-top: 4rem;
}

.panel-body{
  padding: 20px;
}
