/* Sans-Serif/Serif: Lato/Merriweather */
/* Serif/Sans-Serif: Lora/Source Sans Pro */

@font-face {
    font-family: 'lora';
    src: url('lora-regular-webfont.woff2') format('woff2'),
         url('lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source sans regular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather';
    src: url('merriweather-regular-webfont.woff2') format('woff2'),
         url('merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.lato{
  font-family: 'lato';
}

.merriweather{
  font-family: 'merriweather';
}

.source-sans-regular{
  font-family: 'source sans regular';
}

.lora{
  font-family: 'lora';
}
